<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="X" #inputX>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Y" #inputY>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="addPoint(inputX, inputY)">Add point</button>
    </div>
  </div>
</form>
<div>
  <button type="button" class="btn btn-primary" (click)="addCentroid()">Add centroid</button>
</div>
<table>
  <tr *ngFor="let i of range(matrix[2], matrix[3])">
    <td *ngFor="let j of range(matrix[0], matrix[1])">
      {{ i + j }}
    </td>
  </tr>
</table>
<p>Centroids:</p>
<ul>
  <li *ngFor="let centroid of centroids">
    <p>X: {{ centroid[0] }}, Y: {{ centroid[1] }}</p>
  </li>
</ul>
