<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="X" #inputX>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Y" #inputY>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="addPoint(inputX, inputY)">Add point</button>
    </div>
  </div>
</form>
<div>
  <button type="button" class="btn btn-primary" (click)="addCentroid()">Add centroid</button>
</div>
<app-graph [points]="points" [centroids]="centroids" [centroidPoints]="centroidPoints" [matrix]="matrix"></app-graph>
<p>Points:</p>
<ul>
  <li *ngFor="let point of points">
    <p>X: {{ point.x }}, Y: {{ point.y }}</p>
  </li>
</ul>
<p>Centroids:</p>
<ul>
  <li *ngFor="let centroid of centroids">
    <p>X: {{ centroid.x }}, Y: {{ centroid.y }}</p>
  </li>
</ul>
<p>Centroid points:
  <button type="button" class="btn btn-primary" (click)="getCentroids(points, centroids)">update centroids</button></p>
<ul>
  <li *ngFor="let centroid of centroidPoints">
    <ul>
      <li *ngFor="let point of centroid">
        <p>X: {{ point.x }}, Y: {{ point.y }}</p>
      </li>
    </ul>
  </li>
</ul>
